{% extends "calcal/layout.html" %}

{% block body %}

    <h2>About</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    

    <p class="about">
        Welcome to our platform dedicated to helping you achieve your nutritional goals! At Caloric calculator, 
        we're passionate about empowering individuals like you to take control of their health through informed dietary choices.
        <br><br>
        Our mission is simple: to provide you with the tools and knowledge necessary to optimize your nutrition and reach your wellness objectives. 
        Whether you're aiming to lose weight, gain muscle, or simply maintain a balanced diet, we're here to support you every step of the way.
        <br><br>
        With our intuitive calorie calculator, you can accurately determine your daily energy needs and understand the ideal breakdown of macronutrients tailored 
        to your unique lifestyle and goals. From protein and carbohydrates to fats, we'll guide you in finding the perfect balance to fuel your body effectively.
        <br><br>
        But we don't stop there. Our meal tracking feature allows you to effortlessly monitor your calorie intake, ensuring that you stay on track 
        with your dietary plan. And when it comes to meal planning, our convenient shopping list tool makes grocery shopping a breeze by generating 
        a customized list of ingredients based on your selected meals.
        <br><br>
        At Caloric Calculator, we believe that achieving optimal health should be accessible to everyone. Join us on this journey towards a healthier, happier you!
        <br><br>
        Caloric Calculator - Your Partner in Nutrition
    </p>

{% endblock %}