{% extends "calcal/layout.html" %}

{% block body %}

    <h2>Your profile</h2>

    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if profile.caloric %}
        <h4>Your current caloric needs is {{ profile.caloric }}</h4>
    {% endif %}
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Your Weight</label>
                <div class="col-sm-10">
                    <input type="number" name="weight" class="form-control" value="{{ profile.weight }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Your tall</label>
                <div class="col-sm-10">
                    <input type="number" name="tall" class="form-control" value="{{ profile.tall }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Your birth year</label>
                <div class="col-sm-10">
                    <input type="number" name="birth" class="form-control" value="{{ profile.year_birth }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <select name="gender" class="form-control" value="{{ profile.gender }}">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Activity Level</label>
                <div class="col-sm-10">
                    <select name="activity" class="form-control" value="{{ profile.activity_lvl }}">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Your goal</label>
                <div class="col-sm-10">
                    <select name="goal" id="goal-select" class="form-control" onchange="disableSlider()">
                        <option>Loose weight</option>
                        <option>Maintain weight</option>
                        <option>Increase weight</option>
                    </select>
                </div>
            </div>

            <div id="gw" class="form-group row">
                <label for="customRange2" class="col-sm-2 col-form-label">Your goal weight</label>
                <div class="col-sm-10">
                    <input type="number" name="gw" class="form-control" value="{{ profile.goal_weight }}">
                </div>
            </div>
            
            <div id="rate" class="form-group row">
                <label for="customRange2" class="col-sm-2 col-form-label">How many fast you wanna loose/increase your weight? (0.1-1kg per week)</label>
                <div class="col-sm-10">
                    <input type="range" name="rate" class="form-range" id="customRange1" step="100" min="100" max="1000" value="{{ profile.rate }}">
                </div>
            </div>
        <input type="submit" style="width: 100%" class="btn btn-primary my-1">
    </form>


{% endblock %}